.header {
    justify-content: space-between;
    align-items: center;
}

.nav_menu {
    list-style-type: none;
    gap: 3rem;
}

.nav_menu a {
    color: var(--gray);
}
.nav_menu a:hover {
    text-decoration: underline;
    color: white;
}
