@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
@import url(./reset.css);

:root {
    --background_clr: hsl(218, 28%, 13%);
    --neutral_white: hsl(0, 0%, 100%);
    --gray: hsl(212, 43%, 93%);
    --ff-body: "Open Sans", sans-serif;
    --ff-headings: "Raleway", sans-serif;
}

body {
    margin: 0;
    font-family: var(--ff-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background_clr);
    color: var(--gray);
    font-size: 14px;
    padding: 3rem 4rem;
}

/* Utility classes */
.flex {
    display: flex;
}
